/*  290921 resize photos ok 
ticontener 1&2 ok 
reste */

@font-face {
    font-family: Raleway;
    src: local("Raleway-Thin-Italic"),
         local("Raleway-Thin"),
         url(Raleway/Raleway-VariableFont_wght.ttf);
}



body 
{
    color:#0065FC;
    font-family: Raleway;
    width: auto;
}

/* header OK */
a
{
    text-decoration: none;
    color:#0065FC;
    font-weight:bold;
}
a:visited 
{
    color:#0065FC;
}

a:hover
{
    color:#0065FC;
}

header 
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.logo
{
    object-fit: contain;
    margin-left: auto;
    float:inline-start;
}

.logo img 
{
    height: 100px;
    width:100px;
}

nav, .logo
{
    float:none;
}

h3, strong
{ 
    color:black;
    font-weight:bold;
}

 /* filtre recherche */

.filter
{
    border:none;
    margin:10px;
    padding-block-start: 13px;
}

.fa-money-bill-wave:before, .fa-child:before, .fa-heart:before, .fa-dog:before
{
    border-radius:50%;
    color:#0065FC;
    background-color:#DEEBFF;
    font-size: 0.9rem;
    margin: 10px;
    padding: 13px;
    border-style: none;
}

span.icone,  .info:before
{   
    border-radius: 86px;
    border: #F2F2F2 1px; 
    background-color:#F2F2F2;
    display:flex;
    flex-direction: column;
}

.filters-li, .info:before 
{   
    background:white;
    color:black;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    padding: 13px;
    list-style-type: none;
    text-align:center;
}

/* contener*/



img 
{
    width: 250px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 30px; 
    border-color:white ;
  box-shadow: black 4px 4px 4px ; 
  
    
}

.hôtel
{    width: 345px; 
    height: 145px; 
    object-fit: cover;
    border-radius: 30px ; 
    border-color:white ;
    box-shadow: black 4px 4px 4px ;
    border-width: 3px white;
}
.caption
{
    bottom:0;
    left:0; 
    background-color:white; 
    width: 250px; 
    height: 70px; 
    object-fit: cover;
     border-radius: 0px 0px 30px 30px;
    position:absolute;
    text-align:center;
}

.caption2
{   
    position:absolute;
    object-fit: cover;
    border-radius: 0px 30px 30px 0px; 
    height:145px; 
    width:145px; 
    top: 0px;
    left:200px;
    background-color:white;
    text-align: center;
    vertical-align:center;
}

.ticontener
{
    background-color:#F2F2F2;
    border-radius: 30px;
    border-spacing:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    vertical-align: top;
    margin: 15px 15px 15px 15px;
       
  }

.ticontener2

{
    background-color:#F2F2F2;
    border-radius: 30px;
    border-spacing:15px;
    margin-right: 10px;
    display:block;
    justify-content: space-evenly;
    height:auto;
    
}

.ticontener3

    {
    display:flex;
    flex-wrap:wrap; 
    border-radius: 30px;
    justify-content: center;         
    }   



#rentals
{
    justify-content:space-evenly;
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;
    margin: 15px;
    padding: 13px;
}

.hebergements 
{
    position:relative;  
    justify-content: space-around;
    display: flex;
    margin: 15px; 
}

#hotels
{
    background-color:#F2F2F2;
    border-radius:30px ;
    border-spacing:15px;
    justify-content: space-around;   
}

.populaires 
{
    position:relative;
    margin:25px;
}


.gdeimg
{
    height: 450px;
    width:295px; 
     
}

.moyimg
{
    height:240px;
    width:300px;

 
   /* flex justify content
    object-fit: cover; */      
}

.pteimg
{
  
    height:170px; 
    width:300px;

}

#col1bis .caption3 /* gdeimg */
{
    position:absolute;
   
    border-radius: 0px 0px 30px 30px; 
 height:50px; 
    width:295px; 
    bottom: 0px;
    left:0px;
    background-color:white;
    text-align: center;
    
}

#col2bis .caption4 /* moyimg */
{
    position:absolute;
    
    border-radius: 0px 0px 30px 30px; 
   height:50px; 
    width:300px;
   bottom: 0px;
    left:0px;
        background-color:white;
    text-align: center;
    
}

#col3bis .caption5 /* pteimg */
{
    border-radius: 0px 0px 30px 30px; 
height:50px; 
width:300px; 
bottom: 0px; 
position:absolute; 
background-color:white;
text-align: center;
}

#col1bis
{
position:relative;
display:block; 
border-radius: 30px; 

height: 450px;
}

#col2bis
{
    position:relative;
    display:block;  
    border-radius: 30px; 
    
    height: 240px; 
}

#col3bis
{
    position:relative;
    display:block; 
    border-radius: 30px;  
   
    height: 170px; 
}

.colonne 
{

}
/* pied de page OK */ 

footer
{
    display:flex;
    justify-content:flex-start;
}

.about, .rent, .help
{
    background-color: #F2F2F2;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:column;
    flex-grow:1;
    margin:auto;
    text-align:left;
}